<div>
  <div class="row">
    <h1>Topic Manage</h1>
    <button [routerLink]="['/student']"><</button>
  </div>
  <div class="row d-flex">
    <div class="col-2 border bg-light">

      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <button *ngFor="let topic of listTestOfTeacher; let index = index;" class="nav-link" data-bs-toggle="pill"
          type="button" role="tab" (click)="openDetail(topic)">
          Code {{topic.code}}
        </button>
      </div>

    </div>
    <div class="col-10 border">
      <div *ngIf="topic">

        <div class="row">
          <ng-container *ngFor="let srcImg of JSON.parse(topic.content)">
            <img [src]="srcImg">
          </ng-container>
        </div>

        <div class="row">
          <h2>Your Answer Topic</h2>
          <div class="col horizontal-scrollable">
            <button id="answer-topic-image-btn" class="btn btn-primary" (click)="createNewImageTopic()">Add Image Answer</button>
            <div id="list-topic-answer" class="row scrolling-row">
              <ng-container *ngIf="!isSubmit">
                <div  id="{{index}}" class="col-md-3 scrolling-col" *ngFor="let i of colTopic; let index = index;">
                  <app-item-topic-image></app-item-topic-image>
                  <button (click)="removeTopic(index)">Remove</button>
                </div>
              </ng-container>
              <ng-container *ngIf="isSubmit">
                <div  id="{{index}}" class="col-md-3 scrolling-col" *ngFor="let srcImg of srcImgArray; let index = index;">
                  <app-item-detail-course [srcImg] = "srcImg"></app-item-detail-course>
                </div>
              </ng-container>
            </div>
          </div>
          <button id="submit-answer-topic-image-btn" class="btn btn-success" (click)="sendAnswer()">Send Answer</button>
        </div>

        <div class="row">
          <h2>Comment</h2>
          <div class="row">
            <label for="input-comment">Your comment</label>
            <input id="input-comment" name="input-comment" type="text" [(ngModel)]="comment"/>
            <button class="btn btn-primary" (click)="upComment()">Up</button>
          </div>
          <ng-container *ngIf="listComment.length > 0">
            <div class="row" *ngFor="let comment of listComment; let index = index;">
              <label *ngIf="comment.user.id == getUserId()" class="text-success" for="input-comment">Your Comment</label>
              <label *ngIf="comment.user.id != getUserId() && comment.user.id != topic.teacher.id" class="text-primary" for="input-comment">{{comment.user.fullName}}</label>
              <label *ngIf="comment.user.id != getUserId() && comment.user.id == topic.teacher.id" class="text-danger" for="input-comment">{{comment.user.fullName}} (Teacher)</label>
              <input id="input-comment" name="input-comment" type="text" [value]="comment.content" readonly/>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>

</div>

