.card {
  position: relative;
  width: 320px;
  height: auto;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}


.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;

    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;

}
*/
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.card .contentBox h3 {
  font-size: 18px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
}

.card .contentBox .info {
  justify-content: left;
  align-items: left;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card .contentBox .price {
  font-size: 24px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .info p {
  margin-top: 0;
  margin-bottom: 0;
}

.card .contentBox .buy {
  position: flex;
  top: 100px;
  opacity: 1;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.1s;
  border: none;
  cursor: pointer;
}

.card .contentBox .buy:hover {
  top: 0;
  opacity: 0.8;
  background: #e2b501;
}
