<div>
  <div>
    <h1>Manage Point</h1>
    <button [routerLink]="['/teacher']"><</button>
  </div>

  <div class="row d-flex">
    <div class="col-2 border bg-light">

      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <button *ngFor="let clazz of listClasses" (click)="showClass(clazz.id)" class="nav-link" data-bs-toggle="pill"
          type="button" role="tab">
          Class {{clazz.name}}
        </button>
      </div>

    </div>
    <div class="col-10 border">

      <div *ngIf="contentClass" class="m-2">
        <div class="d-flex flex-row m-3 align-items-end">
          <div>
            <label for="course-name">Choose course</label>
            <select class="form-control" name="course" id="course-name" [(ngModel)]="selectedCourse"
              (ngModelChange)="selectedCourseChanged($event)">
              <option *ngFor="let course of listCourses" [ngValue]="course">
                {{course.name}}
              </option>
            </select>
          </div>
          <div class="ms-2">
            <button class="btn btn-primary align-items-end" (click)="savedPoint()">Save</button>
          </div>
        </div>
        <div class="table">
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Email</th>
                <th>FullName</th>
                <th>Point</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of contentClass.listStudents">
                <td>{{student.id}}</td>
                <td>{{student.email}}</td>
                <td>{{student.fullName}}</td>
                <td>
                  <div class="col" *ngFor="let point of student.listPoint; let index = index;">
                    <input *ngIf="student.listPoint!=null" class="form-control" type="number"
                      [(ngModel)]="student.listPoint[index].point" />
                    <small *ngIf="student.listPoint!=null" class="small-title">
                      Coefficient: {{student.listPoint[index].coefficient}}
                      - Date: {{student.listPoint[index].createdDate | date:'fullDate'}}
                    </small>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="table-info">
                <td colspan="3">Number of student</td>
                <td colspan="1"><b>{{contentClass.listStudents.length}}</b></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

